<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Photo Viewer</title>
    <link rel="stylesheet" type="text/css" href="./style.css"/>
    <style> </style>
</head>

<body id="game-background">
    <h1 class="white-font">Score: <%- score %></h1>
    <br>
    <div id="answer"><%- answer %></div>

    <div class="photo-preview">
        <img name="photo" src=<%- photo %> alt="image"/>
    </div>

    <form action="./getNewPhoto" method="post">
        <p class="white-font-answer">Please choose one that you think is correct:</p>
        <input type="radio" id="description-1" name="choice" value="0">
        <label class="white-font" for="description-1"><%- descriptionOne %></label><br>
        <br>
        <input type="radio" id="description-2" name="choice" value="1">
        <label class="white-font" for="description-2"><%- descriptionTwo %></label><br>
        <br>
        <input type="radio" id="description-3" name="choice" value="2">
        <label class="white-font" for="description-3"><%- descriptionThree %></label>
        <br><br>
        <input id="nextPhotoButton" type="submit" value="Submit">
    </form>
    <form action="./endGame" method="post">
        <a href="/">
            <button id="nextPhotoButton">Back to Home</button>
        </a>
    </form>


</body>

</html>