<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Photo Viewer</title>
    <link rel="stylesheet" type="text/css" href="./style.css"/>
    <style> </style>
</head>

<body id="space-background">
	<h1 class="white-font">Game</h1>
    <br>
    <h1 class="white-font">Score: <%- score %></h1>

    <div class="photo-preview">
        <img name="photo" src=<%- photo %> alt="image"/>
    </div>

    <form action="./getNewPhoto" method="post">
        <p class="white-font">Please choose one that you think is correct:</p>
        <input type="radio" id="description-1" name="choice" value="one">
        <label class="white-font" for="description-1"><%- descriptionOne %></label><br>

        <input type="radio" id="description-2" name="choice" value="two">
        <label class="white-font" for="description-2"><%- descriptionTwo %></label><br>

        <input type="radio" id="description-3" name="choice" value="three">
        <label class="white-font" for="description-3"><%- descriptionThree %></label>
        <br>
        <input id="nextPhotoButton" type="submit" value="Submit">
    </form>

    <form action="./endGame" method="post">
        <a href="/">
            <button id="nextPhotoButton">Back to Home</button>
        </a>
    </form>


</body>

</html>